export PATH=$HOME/racket/bin:$PATH

#_localbin="$(expand_path ./usr/bin)"
#PATH_add "${_localbin}"
#export PETBOX_ROOT="$(expand_path .)"
# PATH_add usr/bin
#_here="${expand_path}"
#load_prefix "${_here}"
#load_prefix ./usr
#source_env ../.envrc
#export GOPATH="$(expand_path go)"
#PATH_add "${GOPATH}/bin"
# export LD_LIBRARY_PATH=$(expand_path usr/local/lib):$LD_LIBRARY_PATH
export FZF_DEFAULT_OPTS='--height 40% --layout=reverse --border'
